@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Rouge+Script&display=swap');

:root {
--frozen: #6610F2;
--cool: #1A8FE3;
--warm: #FCDC4D;
--hot: #EF271B;
--green: #0C7C59;
--blau: #5296A5;
--alles: #1B4079;
}

  
* {
    box-sizing: border-box;
    font-family: "Michroma";
}

.hero {
    background-color: #1B4079;
}

body {
    height: 100vh;
    font-family: 'Michroma';
    line-height: 1.5;
    font-size: 16px;
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    line-height: 1.25;
}
  
main {
    margin-left: 40px auto;
    width: 94%;
    min-height:100%;
    overflow: auto;
}

.five-day {
    display:flex;
}
.card-header{
    font-size: 25px;
}
.custom-container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .custom-container {
        flex-direction: column;
    }
}